syntax: regexp
^.*/Debug/

syntax: glob
defconfig
**~
**.~
**.so.*
**.orig
**.d
**.o
**.log
**.log.[0-9]
deploy/
!build/configs/Debug_defconfig
!build/configs/ReleaseARM_defconfig
/package
**/output/
**/Debug/**
**/Release/**
**/DebugARM/**
**/ReleaseARM/**
**/core
**/*.lst
**/*.jnl
**/*.map
Reports/*
./zios/db/*.db
*/sharedlibs
**/*.trc
**/foo.*
tools/reports/*
ZiosWeb/WebDeploy*
Utensils/*
Documentation/Main/*
Documentation/NetManager/*
NetworkManager/db/*
NetworkManagerCommonTest/db/*
**.settings
**.metadata
zios.db
ZiosWeb/WebContent/scripts/hashes.txt
*.suo
*.csproj.user
*.hgignore
